.experiences {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 150px;
}

.experience {
  display: flex;
  flex-direction: column;
  /* background: red; */
  width: var(--per);
  border-radius: 22px;
  padding: 30px;
  margin: 0 auto;

  background: var(--hover-bg);
  background-size: 100% 200%;
  background-position: 0 0;
  transition: all 0.6s ease-in-out;
}

.experience:hover {
  background-position: 100% 50%;
  scale: 1.02;
}

.experience h3 {
  color: var(--text-muted);
  font-size: 0.8rem;
}

.experience h2 {
  font-size: 1.8rem;
}


.experience  ul{
  margin-top: 5px;
}
.experience ul li {
  margin-top: 10px;
}