.navbarWrap {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 15px;
  z-index: 1000;
}

.navbar {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 20px;
  border-radius: 22px;

  background: var(--navbar-bg);
  backdrop-filter: blur(2px);
  border: 1px solid var(--navbar-border);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-transform: capitalize;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #00c6ff;
}